body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    max-width: 350px;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #domainInput {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    flex-grow: 1;
    margin-right: 10px; /* Asegura espacio entre el input y el botón */
  }
  
  #addButton, #deleteButton {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    background-color: #4285f4;
    color: white;
    cursor: pointer;
    border: none;
    white-space: nowrap; /* Evita que el texto del botón se envuelva */
  }
  
  #addButton:hover, #deleteButton:hover {
    background-color: #357ae8;
  }
  
  #domainList {
    list-style-type: none;
    padding: 0;
    margin-top: 10px; /* Añade espacio antes de la lista de dominios */
  }
  
  #domainList li {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 10px; /* Espacio entre elementos de la lista */
  }
  
  #domainList li button {
    background-color: #ff4b4b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  #domainList li button:hover {
    background-color: #e04040;
  }
  